MATLAB R2024b o superior

Toolboxes de MATLAB Requeridos:
- shnidman.m (disponible en (https://es.mathworks.com/help/phased/ref/shnidman.html)
- Statistics and Machine Learning Toolbox (para la función `exprnd` usada en la simulación de RCS fluctuante).

Nota: Las funciones gráficas y de cálculo numérico básicas (plot, polarplot, randn, etc.) son parte de MATLAB estándar.
